footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .copyright {
    border-top: 1px solid #000;
    padding-top: 1rem;
    font-size: 0.875rem;
    text-align: center;
    width: 100%; 
}

@media screen and (min-width: 450px) {}
