.hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger .line {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000000;
}

.hamburger .line:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 636px) {
    .hamburger {
        display: none;
    }
}
