:root {
  --nav-height-mobile: 60px;
  --nav-height-desktop: 100px;
}

/* NAVBAR */
nav {
  height: var(--nav-height-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 25px;
  height: 20px;
}

.hamburger .line {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--color-text);
}

.path {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--color-text);
  font-size: 1rem;
}

.home-button {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}

.home-button:hover {
  text-decoration: underline;
}

.nav-links-wrapper {
  display: flex;
  gap: 0.9rem;
  padding: 4px 8px;
  border-radius: 999px;
  background-color: var(--color-nav-background);
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-links-wrapper .nav-link {
  padding: 4px 8px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 999px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-links-wrapper .nav-link:not(.active):hover {
  background-color: var(--color-nav-link-hover);
}

.nav-link.active {
  background-color: var(--color-nav-link-active-bg);
  color: var(--color-nav-link-active-text);
  padding: 6px 10px;
  border-radius: 999px;
  font-weight: 400;
}

.expanded {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--nav-height-mobile);
  left: 0;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  border-radius: 0;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
}

@media screen and (min-width: 636px) {

  nav {
    height: var(--nav-height-desktop);
  }

  .nav-links-wrapper {
    display: flex;
    position: static;
    transform: none;
  }

  .hamburger {
    display: none;
  }

  .path {
    display: none;
  }
}

