:root {
  --nav-height-mobile: 60px;
  --nav-height-desktop: 70px;
}

nav {
  margin: 0 auto;
  height: var(--nav-height-mobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 95%;
  max-width: 110ch;
}

.path {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--color-text);
  font-size: 1rem;
  margin-left: 1rem;
}

.home-button {
  text-decoration: none;
  color: var(--color-highlight);
  font-weight: 500;
  transition: opacity 1.2s ease;
}

.home-button:hover {
  opacity: 0.6;
}

.nav-links-wrapper {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.nav-links-wrapper .nav-link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 400;
  transition: color 1.2s ease;
}

.nav-links-wrapper .nav-link:hover {
  color: var(--color-highlight);
}

.nav-link.active {
}

.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 25px;
  height: 20px;
}

.hamburger .line {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--color-text);
}

@media screen and (max-width: 635px) {
  .hamburger {
    display: block;
  }

  .nav-links-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--nav-height-mobile);
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    background-color: var(--color-background, #fff);
    padding: 0;
    gap: 1rem;
    z-index: 999;
    transition: max-height 0.5s ease, padding 0.5s ease;
    border-bottom: none;
  }

  .nav-links-wrapper.expanded {
    max-height: 500px;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-border);
  }
}

@media screen and (min-width: 636px) {
  nav {
    height: var(--nav-height-desktop);
    padding: 1rem 0rem -1rem 0rem;
    margin: 0 auto 1.0rem auto;
  }

  .nav-links-wrapper {
    display: flex;
    position: static;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  .path {
    margin-left: 0rem;
  }
}

