---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "piper inns hall" 
const pageHeader = "Piper";
---
<BaseLayout pageTitle={pageTitle}, pageHeader={pageHeader}>
    <h2>Student at Victoria University</h2>
</BaseLayout>
