---
import Social from './Social.astro';
import '../styles/footer.css';

const u1 = "piperinnshall";
const u2 = "pippy.keebs";
const u3 = "in/piper-inns-hall-6b10b227a";
---
<footer>
    <div class="social">
        <Social platform="linkedin" username={u3}/>
        <Social platform="github" username={u1}/>
        <Social platform="twitter" username={u1}/>
        <Social platform="instagram" username={u2}/>
    </div>
    <p class="copyright">© Copyright Piper Inns Hall 2024</p>
</footer>

