---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import '../styles/navbar.css';
---
<header>
    <nav>
        <div class="navigation">
            <Hamburger />
            <Navigation />
        </div>
    </nav>
</header<>
