---
---
    <h1>Piper</h1>
    <div class="nav-links-wrapper">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about/">About</a>
        <a class="nav-link" href="/blog/">Blog</a>
    </div>
