---
import { Image } from 'astro:assets';
import github from '../images/square-github.svg';
import linkedin from '../images/linkedin.svg';
import twitter from '../images/square-twitter.svg';
import instagram from '../images/square-instagram.svg';
const { platform, username } = Astro.props;

const imageMap = {
    github,
    linkedin,
    twitter,
    instagram,
};
---
<a class="social-link" href={`https://www.${platform}.com/${username}`}>
    <Image src={imageMap[platform]} alt={platform} width='50' height='50' />
</a>
